<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			<div class="row">
				<div class="col-xs-12">
				  <h1><a href="{{ .Permalink }}">Dialy</h1>
				</div>
				<div class="margin-div"></div>
			</div>
			{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6}}

			<ul id="post-list">
			  {{ range $paginator.Pages }}
				<li>
					<div class="post-list-item">
						<div class="post-header">
							<h4 class="post-link"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
							<h4 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h4>
						</div>
						<div class="post-summary"><p>{{ .Summary }}</p></div>
						<div class="post-list-footer text-center">
							<a href="{{ .Permalink }}">Read More</a>
						</div>
					</div>
				</li>
				{{ end }}

			</ul>
			<div style="float:right">
			{{ template "_internal/pagination.html" . }}
			</div>
			<div style="clear: both;"></div>
			<div class="push"></div>
		</div>

   
		{{ partial "footer.html" . }}
	</body>
</html>
